<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Recorder</title>
</head>
<body>
    <label for="name_db">데이터 베이스 이름:</label>
    <input type="text" id="name_db">
    <button id="connect_db">DB 연결</button>
    <button id="disconnect_db">DB 해제</button><br><br>
    <button id="start">녹음 시작</button><br>
    <button id="stop" disabled>녹음 중지</button>
    <script>

        let nameDB = document.getElementById("name_db");
        const connectDB = document.getElementById("connect_db");
        const disconnectDB = document.getElementById("disconnect_db");
        disconnectDB.disabled = true;

        connectDB.onclick = async () => {
            const response = await fetch("/connect", { 
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify( {
                    id: nameDB.value
                })
            }).then((response) => {
                if (response.status == 200 || response.status == 201) {
                    nameDB.disabled = true;
                    connectDB.disabled = true;
                    disconnectDB.disabled = false;
                }
            }).catch((error) => {console.error("Failed to connect database:", error);});
        }

        disconnectDB.onclick = async () => {
            const response = await fetch("/disconnect", { 
                method: "GET"
            }).then((response) => {
                if (response.status == 200) {
                    nameDB.disabled = false;
                    connectDB.disabled = false;
                    disconnectDB.disabled = true;
                }
            }).catch((error) => {console.error("Failed to disconnect database:", error);});
        }
        
        const startButton = document.getElementById("start");
        const stopButton = document.getElementById("stop");

        let mediaRecorder;
        let chunks = [];

        startButton.onclick = async () => {
            try {
                const mediaStream = await navigator.mediaDevices.getUserMedia({ audio: true });
                const options = {
                    audioBitsPerSecond: 44100,
                    mimeType: "audio/webm"
                }

                mediaRecorder = new MediaRecorder(mediaStream, options || {});
                mediaRecorder.start();

                mediaRecorder.ondataavailable = (event) => {
                    if (event.data.size > 0) {
                        chunks.push(event.data);
                    } else {
                        console.log("[MediaRecorder]Invalid data");
                    }
                };

                mediaRecorder.onstop = async () => {
                    
                    const audioBlob = new Blob(chunks, { type: "audio/webm" });

                    // clear chunks for next recording
                    chunks = [];

                    const timestamp = new Date();
                    let filename = timestamp.getFullYear()
                                     + (timestamp.getMonth()+1).toString().padStart(2,'0')
                                     + timestamp.getDate() 
                                     + '-' 
                                     + timestamp.getHours() 
                                     + timestamp.getMinutes() 
                                     + timestamp.getSeconds()
                                     + ".webm";

                    const formData = new FormData();
                    formData.append("file", audioBlob, filename);
                    try {
                        const response = await fetch("/audio", { method: "POST", body: formData });
                        console.log(await response.text());
                    } catch (error) {
                        console.error("Error uploading audio:", error);
                    }
                };

                startButton.disabled = true;
                stopButton.disabled = false;
            } catch (error) {
                console.error("Error accessing audio input:", error);
            }
        };

        stopButton.onclick = () => {
            mediaRecorder.stop();

            startButton.disabled = false;
            stopButton.disabled = true;
        };
    </script>
</body>
</html>